/*
Hide footer and display branding, based on screen size
@media (min-width:768px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width:768px) {
  #footer {
    display: none;
  }
}
*/

.navbar {
  background-color: rgba(240, 240, 240, 0.9);
}

.navbar-brand {
  font-weight: lighter;
}

body {
  font-family: "Open Sans";
}

.page-header {
  font-size: 2.2em;
}

.project {
  padding-bottom: 60px;
}

.project div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project .title {
  font-size: 1.4em;
}

.project img {
  max-height:440px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.skills p {
  display: inline;
  border-radius: 0.4em;
  padding: 0.1em 0.3em;
  color: #2980B9;
  background-color: #d9edf7;
}